<aside class="main-sidebar sidebar-dark-primary elevation-4 text-white" style="height: 100vh; background: #40a382">
  <!-- Brand Logo -->
  <a class="brand-link">
    <img src="assets/logicmo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: 0.8" />
    <span class="brand-text font-weight-light">User</span>
  </a>

  <div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-1">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a class="nav-link" >
            <i class="fa-solid fa-house"></i>
            <p>Home</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="dashboard">
            <i class="fa-solid fa-table-list"></i>
            <p>Employee Details</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="calendar">
            <i class="fa-regular fa-calendar-days"></i>
            <p>Employee Calendar</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="data">
            <i class="fa-solid fa-database"></i>
            <p>Employee Data</p>
          </a>     
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="chart">
            <i class="fa-solid fa-chart-pie"></i>
            <p>Employee Progress </p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="serverapi">
            <i class="fa-solid fa-server"></i>
          <p>Server Details </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
</aside>